/*
 * CSS FILE DIVIDED IN 2 SECTIONS
 * - DEFAULT CSS ATTRIBUTES FOR HTML TAGS
 * - CSS CLASSES FOR QUIZ
 */

/* **** DEFAULT CSS ATTRIBUTES FOR HTML TAGS **** */

html, body {
	font-family: Arial Black, sans serif;
	font-size: 1em;
	color: #000000;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	background-color: #C0C0C0;
	cursor: no-drop;
}

.clearfix_no_margin {
	clear: both;
}

.clearfix {
	clear: both;
	margin-bottom: 10px;
}

/* **** CSS CLASSES FOR QUIZ **** */

.block {
  display: block;
  width: 75%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}


#container {
	width: 1000px;
	height: 100%;
	background-color: #00008B;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
	padding: 20px;
	display: table;
}

#middle {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	width: 100%;
	height: 100%;
}

#innerContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	background-color: #1E90FF;
	border: 1px solid black;
	padding: 0px;
}

#content {
	margin: 10px;
	height: 100%;
}

#title {
	font-weight: bold;
	color: #FFD700;
	float: left;
}

#elapsedTime {
	float: right;
	margin-top: 10px;
	margin-right: 150px;
	font-size: 2em;
	
}

.header {
	
}

.headerRow {
	display: block;
	margin-bottom:100px;
}

.headerLeft {
	float:left;
}

#score {
	
}

#undo {
	cursor: pointer;	
}

.headerRight {
	float:right;
}

#controlButton {
	cursor: pointer;
}

#gameArea {

}

#termsContainer {
	float: left;
	width: 250px;
	background-color: #32CD32;
	padding: 15px 15px 5px 15px;
	color: #ffffff;
	font-weight: bold;
}

#definitionsContainer {
	float:right;
	width: 500px;
	background-color: #DC143C;
	padding: 10px 10px 0px 10px;
	color: #00FF00;
	font-weight: bold;
	
}

.termWidget {
	
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	border: 1px solid black;
	background-color: #333333;
	color: #ffffff;
	font-size: 2em;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	cursor: grab;
}

.definitionWidget {
	width: 100%;	
	color: #FFFFFF;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	cursor: pointer;
	
}

.droppedTerm {
	width: 50%;
	background-color: #000000;
	float: left;
	margin-bottom: 10px;
	padding: 10px;
	color: white;
	height: inherit;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	cursor: pointer;
}

.definitionText {
	width: 50%;
	background-color: #000000;
	float: right;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	cursor: pointer;
}